
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: blueviolet;
}

body ul{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration-line: none;
}

body ul li{
    position: relative;
    width: 150px;
    height: 150px;
    list-style: none;
    text-align: center;
    background-color: bisque;
    margin-right: 30px;
    border-radius: 50%;
    z-index: 0;
}

body ul li i::after{
    content: '';
    border-radius: 50%;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: blueviolet;
    transform: scale(0);
    transition: transform 0.5s;
    z-index: -1;
}


body ul li:hover i::after {
    transform: scale(1.1);
}
body ul li:hover{
    cursor: pointer;
}

body ul li i{
    line-height: 150px;
}